
nav {
  display: flex;
  justify-content: flex-end;
}

#cartBtn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.cart-hidden {
    display: none;
  }

#cartBtn:hover{
  background-color:  rgba(91, 116, 0, 0.23);
}
  #cartBtn.empty {
    display: none;
  }
  
  
  #cartContainer {
    position: absolute;
    margin: 10px;
    top: 40px;
   
    width: 300px;
    padding: 10px;
    
  border-radius: 20%;
  background: rgba(255, 255, 255, .3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
 
  border: 1px solid rgba(255, 255, 255, 0.12);
  }
  
  #cartContainer h2{
    background: rgba(0, 112, 116, 0.442);
    border-radius: 10%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin: 10px;
    
  }
  
  #cartContainer h3{
    background: rgba(0, 116, 12, 0.442);
    border-radius: 10%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin: 10px;
    
  }
  
  #cartContainer p{
    background: rgba(122, 122, 122, 0.442);
    border-radius: 10%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin: 10px;

  }
  
  .addToCartBtn {
    background-color: #ffffffcf;
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .addToCartBtn:hover {
    background-color: #00ff11b9;
    color:#ffffff 
}


.green-dollar {
  color: green;
}