#cartBtn{
  align-self: flex-end;
  right: 1rem;
  position: fixed;
}
.cartIcon, #cartBtn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--cd-background-color-n-002-2);
  box-shadow: var(--cd-box-shadow-color-n-003);
  border: 1px solid var(--sc-color-n-020);
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cartIcon:hover{
  background-color:  var(--sc-comentbtn-color-n-060);
}

#cartBtn{
  border: 1px solid transparent;
  padding: 0;
  margin-left: 0;
  margin-right: 0
}

.cart-hidden {
    display: none;
  }

  #cartBtn.empty {
    display: none;
  }
  
  
  #cartContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  top: 40px;
   
  width: 300px;
  padding: 10px;
  
  border-radius: 20%;
  background: var(--cd-background-color-n-002-2);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
 
  border: 1px solid var(--cd-border-color-n-004);
  }
  
  #cartContainer h2{
    background: var(--cd-background-cartexth2-color-n-012);
    border-radius: 8px;
    box-shadow: 0 8px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
    margin: 10px;
    
  }
  
  #cartContainer h3{
    background: var(--cd-background-cartexth3-color-n-022);
    border-radius: 20px;
    box-shadow: 0 20px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
    margin: 10px;
    
  }
  
  #cartContainer p{
    background: var(--cd-background-cartextp-color-n-032);
    border-radius: 14px;
    box-shadow: 8px 0 0 var(--cd-box-shadow-cartextp-color-n-005), -8px 0 0 var(--cd-box-shadow-cartextp-color-n-005),0 14px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
    margin: 10px;
  }

  .total{
    box-shadow: 8px 0 0 var(--cd-box-shadow-cartotal-color-n-006), -8px 0 0 var(--cd-box-shadow-cartotal-color-n-006),0 14px 30px var(--cd-box-shadow-color-n-003)!important;
  }

  .cart-item{
    position: relative
  }

  .removeFromCartBtn{
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
    margin: 5px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    background-color: var(--sc-x-color-n-040);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--pr-color-n-100);
    position: absolute;
    top: 29px;
    right: 10px;
    cursor: pointer;
  }
  
.removeIcon{
  font-size: 12px;
}

  .addToCartBtn {
    background-color: var(--pr-color-n-100);
    color: var(--pr-color-n-000);
    border: none;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .addToCartBtn:hover {
    background-color: var(--sc-color-n-010);
    color:var(--pr-color-n-100)
}


  /* purchase */

#purchaseContainer {
  display: none;
  flex-flow: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 999;
  background: var(--cd-background-purchase-color-n-052);
    border-radius: 46px;
    box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
}



#purchaseCloseBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--sc-x-color-n-040);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--pr-color-n-100);
}

.closeIcon {
  font-size: 12px;
}

#purchaseProducts, #purchaseContent h2{
  background: var(--cd-background-color-n-002);
    border-radius: 20px;
    box-shadow: 0 4px 20px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(1px);
    border: 1px solid var(--cd-border-color-n-004);
    margin-top: 20px;
}

#purchaseContent h2{
  font-size: 1.5rem;
}

#purchaseProducts p {
  margin-bottom: 10px;
}

#commentsShoppingBtn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--cd-background-comentbtn-color-n-042);
  color: var(--pr-color-n-100);
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

#commentsShoppingBtn:hover {
  background-color: var(--sc-color-n-020);
}

.quote {
  
  right: 0;
  padding: 10px;
  margin:20px 0 0 0;
  background: var(--cd-background-color-n-002);
    border-radius: 20px;
    box-shadow: 0 4px 20px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(1px);
    border: 1px solid var(--cd-border-color-n-004);
    cursor: none;
}

.quote p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.author {
  text-align: right;
  font-style: italic;
  color: var(--pr-color-n-0002);
}


.flex{
display: flex;
}

/* confeti */
#confettiContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 3px;
  height: 10px;
  background-color: transparent;
  border-radius: 17%;
  transform: translate(-50%, -50%);
  animation: confettiAnimation 3s linear infinite;
}

@keyframes confettiAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 100vh) rotate(360deg);
  }
}