 :root{

  /* COLOR PALETTE */
  --pr-color-n-000: #000000;
  --pr-color-n-0001: #3b3b3b;
  --pr-color-n-0002: gray;
  --pr-color-n-100: #ffffff;
  --sc-color-n-010: rgba(34, 223, 9, 0.816);
  --sc-color-n-020: green;
  --sc-color-n-030: #007bff;
  --sc-x-color-n-040: red;
  --sc-star-color-n-050: rgb(211, 211, 9);
  --sc-comentbtn-color-n-060: rgba(255, 153, 0, 0.684);
  --sc-comentbtn-color-n-061: rgba(128, 38, 0, 0.699);
  --sc-comentbtn-color-n-062: rgba(0, 106, 255, 0.832);
  --sc-comentbtn-color-n-063: rgba(211, 211, 0, 0.859);
  --cd-background-color-n-002: rgba(255, 255, 255, 0.14);
  --cd-background-color-n-002-2: rgba(255, 255, 255, 0.3);
  --cd-background-cartexth2-color-n-012: rgba(0, 112, 116, 0.442);
  --cd-background-cartexth3-color-n-022: rgba(0, 116, 12, 0.442);
  --cd-background-cartextp-color-n-032: rgba(122, 122, 122, 0.442);
  --cd-background-comentbtn-color-n-042: #007bff7d;
  --cd-background-purchase-color-n-052: hwb(105deg 75% 5% / 54%);
  --cd-box-shadow-color-n-003: rgba(0, 0, 0, 0.1);
  --cd-box-shadow-cartextp-color-n-005: rgba(255, 191, 0, 0.797);
  --cd-box-shadow-cartotal-color-n-006: rgba(26, 255, 0, 0.697);
  --cd-border-color-n-004: rgba(255, 255, 255, 0.12);
 }
/* // */
header{
  border-radius: 24px;
}
body {
  visibility: hidden;
}
 header, #welcome{
    height: 600px;
    width: 100%;
    background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    overflow-x: hidden;
    }

    @keyframes para {
      100% {
        background-position: 
          -5000px 20%,
          -800px 95%,
          500px 50%,
          1000px 100%,
          400px 0;
        }
      }

      #welcome {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: scale(0.5);
      }
      
      #welcome.show {
        opacity: 1;
        transform: scale(1);
        
      }
      
      #welcome h2 {
        color: var(--pr-color-n-100);
        font-size: 3rem;
        text-align: center;
        animation: pulse 2s ease-in-out infinite;
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
     
      
      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

main,footer {
  background: url("assets/celula-solar.png") left top repeat-y,
             hwb(105 75% 5%) url("assets/turbina-eolica.png") right top repeat-y;
  background-size: 20% auto; /* 50% de ancho y altura automática */
  background-position: left top, right top; /* Alineación de las imágenes */
  background-repeat: repeat-y; /* Repetición vertical */
  background-origin: border-box; /* El fondo se extiende debajo de los bordes */
  background-clip: border-box; /* El fondo no se muestra debajo de los bordes */
  border-radius: 24px;
}



ul,a,li {
  list-style: none;
  text-decoration:none;
  color: var(--pr-color-n-000);
  font-family: 'Orbitron', sans-serif
}

h1{
  display: flex;
  justify-content: center;
  
}
h2{
  font-family: 'Electrolize', sans-serif;
}

p{
  font-family: 'Poppins', sans-serif;
}

input#searchInput, textarea{
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--pr-color-n-100);
  border-radius: 22px;
}

::placeholder {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: double;
  font-family: 'Electrolize', sans-serif;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* navbar */
.navbar-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  background: var(--cd-background-color-n-002);
  border-radius: 30px; 
  box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
  backdrop-filter: blur(5px);
  border: 1px solid var(--cd-border-color-n-004);
  min-height: 24px;
}
.blurNone{
  backdrop-filter: none;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--pr-color-n-100);
  box-shadow: 0 2px 6px var(--cd-box-shadow-color-n-003);
}

.navbar-center {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-wrap: wrap;
}

.navbar-container.fixed {
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 999;
  left: 0;
  right: 0;
}


#navbar.scrolled {
  top: -50px;
}

 .welcome-hidden, .hidden{
  display: none;
 }
 
 /* menu hamburger */


.menu-icon {
  cursor: pointer;
  display: flex;
  position: fixed;
  left: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  align-self: flex-start;
}

.menu-icon__line {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: var(--pr-color-n-100);
  border: 1px solid var(--pr-color-n-000);
  transition: transform 0.3s ease-out;
}

.menu-icon.open .menu-icon__line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu-icon.open .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-icon__line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

#navbar.open {
  transform: translateY(0%);
}

#navbar.open ul {
  display: flex;
  padding: 0;
  margin: 0;
}

#navbar.open ul.column {
  /* Estilos para #navbar.open ul cuando aparece el elemento .search-form.show-search */
  flex-direction: column;
}


.nav li {
  color: var(--pr-color-n-100);
  margin: 1px;
  padding: 1px;
}

.nav li::after {
  content: " ||"; /* Agregar el delimitador al final de cada <li> */
  margin-left: 5px; /* Espacio entre el contenido y el delimitador */
}




 .nav a:hover{
  background-color: var(--cd-background-color-n-002);
  color: var(--sc-color-n-020);
  border-radius: 20px; 
  box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
  backdrop-filter: blur(5px);
}

#togleSearchContainer{
cursor: pointer;

}




/* //suces mensage// */

.success-message {
  
  position: fixed;
  top: 20px;
 left: 50%;
 transform: translateX(-50%);
 
 color: var(--sc-color-n-010);
 padding: 10px;
 border-radius: 30px;
 font-size: 16px;
 
 background-color: var(--cd-background-color-n-002); 
 box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
  backdrop-filter: blur(5px);
  border: 1px solid var(--cd-border-color-n-004);
  
  z-index: 0;
  opacity: 0;
  transition: opacity 2s;
  transition: z-index 1s;
}

.success-message.resaltado {
  z-index: 9999;
  opacity: 1;
}

/* footer

copyrigh text */
.copyR {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

/* contact info */
#contactInfo{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}
#contactInfo p{
  margin:0;
}
#contactInfo div{
  color: var(--pr-color-n-0001);
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--cd-background-color-n-002); 
  box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
  backdrop-filter: blur(5px);
  border: 1px solid var(--cd-border-color-n-004);
}

/* Cambiar el color solo de los caracteres "$" en verde */
.green-dollar {
  color:   var(--sc-color-n-020);
}


/* medias */
@media screen and (max-width: 500px){
  body {
font-size: 14px;}

h2{
  font-size: 1rem;
}

.navbar-container.fixed{
  width: 91%;
}

footer{
  margin-top: 5px;
  margin-bottom: 5px;
}



}

@media screen and (max-width: 562px){
  #contactInfo{
    flex-direction: column;
    align-items: center;
  }
}