 header, #welcome{

    height: 600px;
    width: 100%;
    background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    overflow-x: hidden;
    }

    @keyframes para {
      100% {
        background-position: 
          -5000px 20%,
          -800px 95%,
          500px 50%,
          1000px 100%,
          400px 0;
        }
      }

      #welcome {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: scale(0.5);
      }
      
      #welcome.show {
        opacity: 1;
        transform: scale(1);
        
      }
      
      #welcome h2 {
        color: #fff;
        font-size: 3rem;
        text-align: center;
        animation: pulse 2s ease-in-out infinite;
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
     
      
      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

main,footer {
  background: url("assets/celula-solar.png") left top repeat-y,
             hwb(105 75% 5%) url("assets/turbina-eolica.png") right top repeat-y;
  background-size: 20% auto; /* 50% de ancho y altura automática */
  background-position: left top, right top; /* Alineación de las imágenes */
  background-repeat: repeat-y; /* Repetición vertical */
  background-origin: border-box; /* El fondo se extiende debajo de los bordes */
  background-clip: border-box; /* El fondo no se muestra debajo de los bordes */
}



ul,a,li {
  list-style: none;
  text-decoration:none;
}

h1{
  display: flex;
  justify-content: center;
  
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* navbar */
.navbar-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
   background: rgba(255, 255, 255, 0.14);
  border-radius: 20%; 
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

   backdrop-filter: blur(5px);
   
   
  border: 1px solid rgba(255, 255, 255, 0.12);
 
}
.blurNone{
  backdrop-filter: none;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


#navbar.scrolled {
  top: -50px;
}

 .welcome-hidden, .hidden{
  display: none;
 }
 
 /* menu hamburger */


.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
}

.menu-icon__line {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid black;
  transition: transform 0.3s ease-out;
}

.menu-icon.open .menu-icon__line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu-icon.open .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-icon__line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.navbar.open {
  transform: translateY(0%);
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

#togleSearchContainer{
cursor: pointer;

}

/*  */

.input{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-label{
  width: 80px;
  margin-right: 1rem;
}

/* //suces mensage// */

.success-message {
  
  position: fixed;
  top: 20px;
 left: 50%;
 transform: translateX(-50%);
 
 color: rgba(34, 223, 9, 0.816);
 padding: 10px;
 border-radius: 20%;
 font-size: 16px;
 
 background-color: rgba(100, 100, 100, 0.27); 
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  
  z-index: 0;
  opacity: 0;
  transition: opacity 2s;
  transition: z-index 1s;
}

.success-message.resaltado {
  z-index: 9999;
  opacity: 1;
}

