section h2 {
display: flex;
justify-content: center;
}

ul{
  padding-inline-start: 0;
  padding-left: 5%;
  padding-right: 5%;
}

#itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 46px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
  
  .item img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 46px;
    border: 1px solid black;
  }
  
  .item h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .item p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .item button {
    
    cursor: pointer;
}


  
  .showMoreBtn {
    background-color: #2ecc71;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  
  /* stars */
 
.rating {
    font-size: 24px;
  }
.star {
    color: gray;
  }
  
.star.filled {
    color: rgb(211, 211, 9);
  }