section h2 {
display: flex;
justify-content: center;
}

ul{
  padding-inline-start: 0;
  padding-left: 5%;
  padding-right: 5%;
}

#itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    background: var(--cd-background-color-n-002);
    border-radius: 46px;
    box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
  }
  
  .item img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 46px;
    border: 1px solid var(--pr-color-n-000);
  }
  
  .item h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .item p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .item button {
    
    cursor: pointer;
}


  
  .showMoreBtn {
    background-color: var(--sc-color-n-010);
    color: var(--pr-color-n-000);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  
  /* stars */
 
.rating {
    font-size: 24px;
  }
.star {
    color: var(--pr-color-n-0002);
  }
  
.star.filled {
    color: var(--sc-star-color-n-050);
  }

.current-page {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--sc-color-n-020);
    color: var(--pr-color-n-100);
    text-align: center;
    line-height: 25px;
  }
  
/* pagesnumbers */

#currentPageNumber  {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background: var(--cd-background-color-n-002);
  border-radius: 34%; 
  box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
  backdrop-filter: blur(5px);
  border: 1px solid var(--cd-border-color-n-004);
  align-items: baseline;

}

#currentPageNumber a {
  margin-right: 2%;
}

.previous-button,
.next-button {
  font-weight: bold;
  display: inline-block;
  padding: 1px 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--pr-color-n-100);
  color: var(--pr-color-n-000);
  text-align: center;
  line-height: 25px;
  border: none;
  text-decoration: none;
  
}
#currentPageNumber a.previous-button{
  margin-right: 7%;
}
.next-button {
  margin-left: 5%;

}

#currentPageNumber a.previous-button:hover,
#currentPageNumber a.next-button:hover {
  background-color: var(--sc-color-n-020);
  color: var(--pr-color-n-100);
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Estilos adicionales para el estado de "hover" */
}