
.hide-search {
    display: none;
  }
  
  .show-search {
    display: block;
  }
  
#sortSelect{
  margin-top: 8px;
}

  select#categorySelect{
    width: 60%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid var(--pr-color-n-100);
    border-radius: 22px;
  
  }
  select#sortSelect{
    width: 40%;
    padding: 4px;
    font-size: 14px;
    border: 1px solid var(--pr-color-n-100);
    border-radius: 22px;
  
  }

  .no-products-message{
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background: var(--cd-background-color-n-002);
    border-radius: 46px;
    box-shadow: 0 4px 30px var(--cd-box-shadow-color-n-003);
    backdrop-filter: blur(5px);
    border: 1px solid var(--cd-border-color-n-004);
    color: var(--sc-no-products-message-n-041);
  }